.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Xcode
DerivedData/
.derivedData/
*.xcuserstate
xcuserdata/
*.moved-aside

# macOS app output
*.app
*.dSYM

# SwitchLoader Receiver build output
SwitchLoaderReceiver/node_modules/
SwitchLoaderReceiver/romfs/main.js
SwitchLoaderReceiver/*.nro
SwitchLoaderReceiver/*.nsp

# Local editor state
.vscode/
.idea/
